span {
    font-size: 15px;
    font-weight: 600;
    font-style: italic;
  }
  .month {
    font-size: 15px;
    font-weight: 600;
    font-style: italic;
  }
  .time {
    padding-top: 2px;
    font-size: 10px;
    font-weight: 500;
  }